body{
    marginleft: 200px;
    margintop: 100px;
}
#flex-container{
    height: 600px;
    width: 70vw;
    background-color: red;
    display: flex;
    background-image: url(../HTML/images/10.jpeg);
    background-repeat: no-repeat;
    background-size: 70vw 600px;
}
.flex-items{
    height: 100px;
    width: 100px;
    background-color: black;
    border: 4px solid red;
    color: blue;
}

#item1{
    height: 100px;
    width: 100px;
    background-image: url(../HTML/images/6.avif);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    flex-basis: 200px;
    align-self: center;
    order: 5;
}

#items2{
    height: 100px;
    width: 100px;
    background-image: url(../HTML/images/5.jpeg);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    align-self: flex-end;
    order: 3;
}
#items3{
    height: 100px;
    with: 100px;
    background-image: url(../HTML/images/4.jpeg);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    order: 1;
}
#item4{
    height: 100px;
    with: 100px;
    background-image: url(../HTML/images/3.jpeg);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    order: 2;
}
#item5{
    height: 100px;
    with: 100px;
    background-image: url(../HTML/images/2.jpeg);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    order: 4;
}

